<header class="layout--header">
  <h1>{{constant.logo}}</h1>
  <button ng-click="signOut()">Sair</button>
</header>

<div class="avatar">
  <img ng-src="{{user.photoURL}}" alt="{{user.uid}}" width="48" height="48">
  {{user.displayName}}
</div>

<form class="form__register" name="registerForm" ng-submit="addSite(site)">
  <input type="text" ng-model="site.name" placeholder="Fav Name">
  <input type="url" ng-model="site.url" placeholder="http://fav.com" required>
  <button type="submit">Ok</button>
</form>

<br><br>

<ol class="list" ng-show="sites">
  <li class="list--item" ng-repeat="site in sites | orderBy:'-clicks' track by $index">
    <a class="list--link" ng-click="openSite(site)" title="{{site.url}}">
      <img class="list--icon" src="{{favPrefix}}{{getDomain(site.url)}}" alt="my-favs">
      <span class="list--name">{{site.name}}</span>
    </a>

    <!-- <button class="list--button" type="button" ng-click="removeSite(site)">
      <b class="icon">&times;</b>
    </button> -->
  </li>
</ol>